# Frontend Variables
VITE_BACKEND_URL=http://localhost:5000 # Should be changed on production to application's domain

# Backend variables
CLIENT_URL=http://localhost:3000 # Should be the same as VITE_BACKEND_URL on production
JWT_SECRET="YOUR JWT SECRET"
MONGO_DB_URI="YOUR MONGO DB URI"
PORT=5000

# General variables
NODE_ENV=production # development
